# Elixir Ecto
DB_DEVELOPMENT=db
DB_TEST=db_test
DB_HOST=localhost
DB_PASSWORD=db
DB_PORT=2345
DB_USER=db
POSTGRES_URL="postgres://$DB_USER:$DB_PASSWORD@$DB_HOST:$DB_PORT"
DATABASE_URL="$POSTGRES_URL/$DB_DEVELOPMENT"
DATABASE_URL_TEST="$POSTGRES_URL/$DB_TEST"
